@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
/*<---- Variables ---->*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.card {
  width: 90%;
  min-width: 32rem;
  max-width: 40rem;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.card picture {
  width: 100%;
  height: 50%;
}
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
}
.card__info {
  width: 100%;
  height: 45%;
  min-height: 39rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 25px 25px 25px;
  font-family: "Montserrat", system-ui;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}
.card__info-perfume {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
.card__info--title {
  font-size: 3.2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}
.card__info--text {
  font-size: 1.4rem;
  line-height: 2.3rem;
}
.card__info--price {
  display: flex;
  align-items: center;
  width: 70%;
}
.card__info--price h1 {
  color: hsl(158, 36%, 37%);
  font-size: 3.2rem;
  font-family: "Fraunces", serif;
  margin-right: 20px;
}
.card__info--price p {
  font-size: 1.4rem;
  text-decoration-line: line-through;
}
.card__info--button {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
}
.card__info--button img {
  margin-right: 10px;
}
.card__info--button button {
  border: none;
  background-color: hsl(158, 36%, 37%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.card__info--button:hover {
  cursor: pointer;
  background-color: hsl(158, 37%, 23%);
}
.card__info--button:hover button {
  cursor: pointer;
  background-color: hsl(158, 37%, 23%);
}

.cart {
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.cart span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: hsl(30, 38%, 92%);
  color: rgb(0, 0, 0) !important;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  bottom: 6px;
  right: 1px;
}

.option {
  width: 90%;
  display: none;
  justify-content: space-around;
  align-items: center;
}
.option__pages {
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-size: 1.6rem;
  color: white;
}
.option__pages p > a {
  text-decoration: none;
  color: white;
}

.diag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.506);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diag section {
  width: 80%;
  height: 75%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.diag #remove {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 10%;
  right: 9%;
  padding-top: 30px;
  text-align: center;
}

.message {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 85%;
  height: 5rem;
  border-radius: 0.8rem;
  color: rgb(4, 4, 4);
  font-size: 1.6rem;
  background-color: rgba(226, 205, 165, 0.793);
}
.message section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message #remove {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 10%;
  right: 9%;
  padding-top: 11px;
  text-align: center;
}

body {
  width: 100vw;
  height: 100%;
  min-height: 80rem;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 38px;
  height: 38px;
  border-radius: 1rem;
  background-color: hsla(158, 36%, 37%, 0.606);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 1%;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .menu {
  width: 38px;
  height: 32px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
nav .menu span {
  width: 25px;
  height: 3px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.692);
}

footer {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
}
footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (min-width: 600px) {
  .card {
    max-width: 63rem;
    height: auto;
    max-height: 45rem;
    flex-direction: row;
  }
  .card picture {
    height: 45rem;
  }
  .card__image {
    height: 100%;
    border-radius: 12px 0px 0px 12px;
    width: 100%;
  }
  .card__info {
    padding: 30px;
    min-height: 46rem;
    height: 100%;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=index.css.map */
